<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/meta :: metaHead(title='快速开发平台 | 主页')">
</head>
<body class="easyui-layout" style="margin: 0 50px">
<div th:replace="commons/header :: header"></div>
<div th:replace="commons/left :: left"></div>
<div data-options="region:'center'">
    <div id="mainTab" class="easyui-tabs" data-options="fit:true">
        <div title="主页">
            <h1 style="text-align: center;">快速开发系统</h1>
            <div style="text-align: left;font-size: 20px;">
                v1.0 版本更新<br/>
                1. 采用了Spring+SpringMvc+mybatis+shiro+easyui技术
                2. 实现菜单管理，用户管理，角色权限管理
            </div>
        </div>
    </div>
</div>
<div th:replace="commons/footer :: footer"></div>

<div th:replace="commons/js :: js"></div>
</body>
</html>